#sobre {
  display: flex;
  margin: 10% 8%;
  align-items: center;
}

#sobre-cta p {
  font-size: 25px;
  width: 80%;
  text-align: justify;
  margin-bottom: 25px;
  font-weight: 500;
}

#sobre-img img {
  width: 350px;
}

@media screen and (max-width: 800px) {
  #sobre {
    display: flex;
    flex-direction: column;
    margin: 100px 8%;
    justify-content: center;
    align-items: center;
  }
  #sobre-cta p {
    margin-top: 35px;
    font-size: 25px;
    width: 100%;
  }
}